@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

body {
  display: flex;
  place-content: center;
  align-items: center;

  margin: 30px 10px;

  background-color: #e5e5f7;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #8cb369 0,
    #8cb369 1px,
    #f2f3ae 0,
    #f2f3ae 50%
  );

  @media (min-width: 768px) {
    height: 100vh;
    margin: 0 0;
  }
}

#root {
  display: flex;
  max-height: fit-content;

  background-color: white;
  background-color: rgb(234 241 255);

  border: hsla(160, 22%, 46%, 0.725) 3px solid;
  border-radius: 15px;

  box-shadow: 0px 0px 14px 4px rgb(0 0 0 / 44%);
}

* {
  font-family: 'DM Mono', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  padding: 0px 25px;
  padding-bottom: 20px;
  max-height: 85vh;

  .text {
    font-size: 1.1rem;
    font-weight: normal;
  }

  .gallery {
    display: grid;
    row-gap: 20px;

    & img {
      border-radius: 10px;
    }

    @media (min-width: 768px) {
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .credit {
    margin-top: 10px;
    font-size: 1rem;

    .external-link-icon {
      position: relative;
      left: 3px;
    }
  }
}

.button {
  padding: 5px 0;
  height: fit-content;

  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: rgb(0, 0, 0, 57%) 4px solid;
  border-radius: 20px;

  font-size: 1.1rem;
  place-self: center;

  &:hover {
    cursor: pointer;
    background-color: rgb(208, 208, 208);
  }

  &:active {
    background-color: rgb(185, 185, 185);
  }
}

.modal {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-left: -140px;
  margin-top: -75px;

  padding: 20px;
  padding-bottom: 10px;

  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 25px;

  background-color: rgb(234 241 255);

  border-radius: 10px;
  box-shadow: 0px 0px 16px 2px rgb(0 0 0 / 55%);
}

.noselect {
  /* Prevent search image from getting blue selection overlay when double clicking on it */
  user-select: none;
}
