.infobar {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 0;

  row-gap: 20px;
  column-gap: 5px;

  .wally-wrapper {
    display: grid;
    position: relative;

    & img {
      place-self: center;
      border-radius: 20px;
      width: 90px;
    }

    .tracked-wally-overlay {
      position: absolute;
      z-index: 1;
      left: 8px;
      top: 10px;

      @media (min-width: 768px) {
        top: 12px;
        left: 8px;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: column;
    padding: 0 5px;
  }
}
