.selection-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50px 200px 50px;
  grid-template-rows: 120px;

  .selection-button {
    all: unset;
    display: flex;
    place-self: center;
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  .carousel-arrow {
    /* Alternative color
     --background-color: #5478a4; */
    --popup-background-color: #f2f3ae;

    all: unset;
    background-color: var(--popup-background-color);
    height: 50px;
    align-self: center;

    border: black 2px solid;

    &.previous-image {
      border-radius: 30px 0px 0px 30px;
      border-right-color: var(--popup-background-color);
    }

    &.next-image {
      border-radius: 0px 30px 30px 0px;
      border-left-color: var(--popup-background-color);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
